@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #041421;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background:#000000;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #040e17;
}

